  .custom-center-button {
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 9999;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  .custom-center-button:hover {
    background-color: #fff9;
  }